.images {
  width: 50%;
}

/* .container {
  background-color: aliceblue;
} */

.left {
  z-index: 1;
}

.cardFront {
  position: absolute;
  z-index: 2;
  top: 22.5%;
  left: 10%;

}

.cardLogo {
  position: absolute;
  z-index: 3;
  top: 24.5%;
  left: 13%;
}
