.images {
  width: 50%;
}

/* .container {
  background-color: aliceblue;
} */

.left {
  z-index: 1;
}

.cardFront {
  position: absolute;
  z-index: 2;
  top: 22.5%;
  left: 7%;
}
.cardBack {
  position: absolute;
  z-index: 2;
  top: 46.5%;
  left: 10%;
}

.cardLogo {
  position: absolute;
  z-index: 3;
  top: 24.5%;
  left: 9%;
}
.cardNumber {
  position: absolute;
  z-index: 3;
  top: 33.5%;
  left: 9%;
  width: 300px;
  font-family: 'Space Grotesk';
  height: 50px;
  /* background-color: #fff; */
  color: white;
}
.cardName {
  position: absolute;
  z-index: 3;
  top: 38.5%;
  left: 9%;
  width: 400px;
  /* background-color: #fff; */
  color: white;
}

.cardExpire{
  position: absolute;
  z-index: 3;
  top: 38.5%;
  left: 25%;
  width: 400px;
  /* background-color: #fff; */
  color: white;
}
